*{
    margin: 0;
    padding: 0;
}
body{
    font-family:Georgia, 'Times New Roman', Times, serif
    line-height: 1.6;
    background-color:bisque
}
header{
    background-color:blueviolet;
    font-weight: 700;
    padding: 2rem;
    text-align: center;
    
}
nav ul{

    list-style: none;
}
nav ul li{
    display: inline;
    margin: 0 1rem;
}

nav ul li a{
    color:yellow;
    text-decoration: none;
    
}
nav ul li a:hover{
    color: black;
    
    
}

main{

    padding: 2rem;
    background-color: aquamarine;
}
section{
    margin-bottom: 2REM;
}
FOOTER{
    background-color:blueviolet ;
    padding: 1.45rem;
    text-align: center;
    color: yellow;
    font-weight: 700;
    
}
@media(min-width:768px){
    header{
        padding: 1.5rem 2rem;
    }
    main{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    section{
        flex-grow: 1 1 45%;
        margin: 1rem;
    }

}